{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Мои тесты</a></li>
      <li class="breadcrumb-item active" aria-current="page">Добавить новое руководство</li>
    </ol>
  </nav>
  
  <div>
    <h2>Добавить новое руководство</h2>
    <div class="row">
      <div class="col-md-6 col-sm-8 col-12">
        <form method="post" novalidate>
          {% csrf_token %}
          <div class="my-3">
            <label for="theme">Название</label>
            <input id="theme" type="text" class="textinput textInput form-control" required name="theme">
          </div>
          <div class="my-3">
            <label for="link">Ссылка</label>
            <input id="link" type="text" class="textinput textInput form-control" required name="link">
          </div>
          <div>
            <button type="submit" class="btn btn-success">Добавить</button>
          </div>
         
        </form>
      </div>
    </div>
  </div>

{% endblock %}
